* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
  font-family: "Overpass", sans-serif;
}

body {
  background-color: #131518;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.card-one-container,
.card-two-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: var(
    --black-gradient,
    radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
  );
  min-width: 327px;
  max-width: 380px;
  padding: 32px;
  height: 416px;
  flex-shrink: 0;
}

.card-one-container p {
  pointer-events: none;
}

.card-two-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.step-one-contents {
  display: none;
}

.star-container {
  display: flex;
  background-color: var(--Dark-Blue, #262e38);
  padding: 4px;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.modal-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}

.modal-header {
  padding-top: 32px;
  font-family: Overpass;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.modal-body {
  color: var(--Light-Grey, #969fad);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.ratings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
}

.rating-container {
  background-color: var(--Dark-Blue, #262e38);
  width: 51px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.rating-container p {
  color: var(--Medium-Gray, #7c8798);
}

button {
  display: flex;
  padding: 11px 137px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 22.5px;
  background: var(--Orange, #fc7614);
  color: var(--Pure-White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (Medium) */
  font-family: Overpass;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  border: transparent;
  margin-top: auto;
}

.selection-container {
  border-radius: 22.5px;
  background-color: var(--Dark-Blue, #262e38);
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--Orange, #fc7614);
  text-align: center;
  font-family: Overpass;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.card-two-container h1,
p {
  text-align: center;
}

.card-two-container img {
  padding-bottom: 24px;
}

.rating-selected {
  background-color: #fff;
}
